@import '~antd/dist/antd.css';
.ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
  padding: 8px 8px;
}
.ant-table-thead > tr > th {
  background: #FFF2CC;
}
.ant-table-thead th.ant-table-column-sort {
  background: #FFF2CC;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #000;
  border-radius: 5px;
}
.ant-select-arrow {
  color: #000
}
.ant-picker, .ant-input {
  border: 1px solid #000;
}
.sale-date-picker {
  width: 109px;
  height: 38px;
  border-radius: 5px;
}
.custom-ant-input {
  width: 250px;
  height: 38px;
  border-radius: 5px;
}
.custom-ant-header-cel-input {
  width: 100%;
  height: 28px;
  margin-top: 8px;
  flex: 1;
  border-radius: 8px;
}
.custom-ant-body-cel-input {
  width: 100%;
  height: 28px;
  flex: 1;
  border-radius: 8px;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  text-align: left;
}
.ant-select-selection-item {
  text-align: left;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ant-checkbox-inner {
  border: 1px solid #000;
}
.ant-input[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #E6E6E6;
  border-color: #000;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.ant-modal-footer {
  text-align: center;
}

.ant-checkbox-inner, .ant-checkbox-input, .ant-radio-inner, .ant-radio-input {
  transform: scale(1.3)
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #fff;
  border-color: #000000;
}
.ant-checkbox-checked .ant-checkbox-inner:after {
  border: 2px solid #000;
  border-top: 0;
  border-left: 0;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #000;
}

.ant-radio-inner::after {
  background-color: #000;
}
.ant-modal-title {
  font-weight: bold;
}